.navigation__list{
    list-style-type: none;
}

.navigation__list a {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: black;
  color: #4F6270;
  text-transform: uppercase;
}

.navigation__list a.active{
  font-weight: bold;
}
